# system
.DS_Store
.DS_Store?
._*

.idea/

# generated
ffmpeg/
node_modules/
outputs/
typings/globals

*.log

# codeship key for encrypting builds
codeship.aes

# codeship deployment environment variables
deployment.env

